.image-pagination {
    display: flex;
    justify-content: center;
}

.thumbnail {
    width: 275px !important;
    height: 180px !important;
    overflow: hidden !important;
}
.thumbnail img {
    height: 170px !important;
}

.loader {
    position: relative;
    left: 47%;
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.edit-checkbox {
    position: absolute;
    height: 17px;
    width: 17px;
    margin-left: 7px !important;
    margin-top: 2px !important;
}

.main-images {
    display: none;
}

.del-image-name {
    font-weight: 800;
}
/* layout.css Style */
.upload-drop-zone {
    display:none;
  height: auto;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  line-height: 200px;
  text-align: center;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.image-category {
    position: absolute !important;
    left: -130px !important;
    width: 130px !important;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2) !important;
    cursor: pointer;
}


.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

#upload-progress {
    display: none;
}
#upload-progress>.progress-bar {
    transition-duration: 1s  !important;
}

.image-mask {
    opacity:0;
    position: absolute;
    width: 273px !important;
    height: 179px !important;
    margin-top: -4px;
    margin-left: -4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.57);
    transition: opacity 1s ease;
}

.image-mask:hover {
    opacity: 1;
}

.image-mask button {
    position: relative;
    top: 138px;
    width: 130px;
}

.image-mask h4 {
    color: white !important;
    font-size: 30px !important;
    float: left !important;
    left: 13px !important;
    position: absolute !important;
    font-family: initial !important;
}