[v-cloak] {
    display: none !important;
}

.main-navigation-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: transparent;
}
.el-dialog {
    font-family: Bubblegum, sans-serif !important;
}
.main-navigation,
.main-navigation-2 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-basis: 38%;
	font-family: Bubblegum, sans-serif;
	background: #fff url(../img/back-menu.png) center;
	background-size: 130%;
    border-radius: 40px;
    -webkit-box-shadow: inset 0px 11px 24px 3px rgba(16, 15, 15, 0.71);
    -moz-box-shadow: inset 0px 11px 24px 3px rgba(16, 15, 15, 0.71);
    box-shadow: inset 0px 11px 24px 3px rgba(16, 15, 15, 0.71);
	overflow: hidden;
	position: relative;
}

.main-navigation {
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;	
	min-height: 300px;
	min-width: 300px;
	z-index: 100;
	padding: 5rem 2rem;
}

.main-navigation-2 {
	flex-direction: column;
	justify-content: space-between;
	min-height: 200px;
	min-width: 200px;
	z-index: 101;
	padding: 5rem 3rem 3rem;
}

/*.main-navigation::before {
	content: '';
    position: absolute;
    top: 0;
    left: 10%;
    width: 50px;
    height: 40px;
    display: block;
    background: url(../img/top-menu.png) no-repeat center bottom;
    background-size: cover;
    transition: all .5s ease;
}

.main-navigation:hover::before {
    height: 60px;
}*/

.drop-me {
	display: none;
	text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    top: 0;
}

.button-nav {
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
	z-index: 1;
}

.menu-item {
    border-radius: 50%;
	border: 3px solid #fff;
	cursor: pointer;
	flex-basis: 20%;
	position: relative;
	padding: .2rem 0;
}

.menu-item::before{
  content:'';
  display: block;
  padding-bottom: 100%;
}

#insta-nav {
	background: #f5db46 url(../img/insta-photo.png) no-repeat center;
    //background: url(../img/insta-photo.png) no-repeat center;
    background-size: 75%;
	box-shadow: 0px 0px 24px 3px rgba(245, 219, 70, 1);
}

#bitcoin-nav {
	background: #86bef1 url(../img/bitcoin-photo.png) no-repeat center;
    //background: url(../img/bitcoin-photo.png) no-repeat center;
    background-size: 60%;
	box-shadow: 0px 0px 24px 3px rgba(134, 190, 241, 1);
}

#members-nav {
	background: #9ada4e url(../img/category-icon.png) no-repeat center;
    //background: url(../img/category-photo.png) no-repeat center;
    background-size: 65%;
	box-shadow: 0px 0px 24px 3px rgba(154, 218, 78, 1);
	
}

#category-nav {
	background: #fb5850 url(../img/members-photo.png) no-repeat center;
    //background: url(../img/members-photo.png) no-repeat center;
    background-size: 65%;
	box-shadow: 0px 0px 24px 3px rgba(251, 88, 80, 1);
}

.preloader {
	display: none;
	min-width: 50px;
}

#preloader_1{
    position:relative;
}
#preloader_1 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    animation: preloader_1 1.5s  infinite ease-in-out;
}
 
#preloader_1 span:nth-child(2){
left:11px;
animation-delay: .2s;
 
}
#preloader_1 span:nth-child(3){
left:22px;
animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
left:33px;
animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
left:44px;
animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}

.spiral-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: absolute;
	height: 0;
	margin-bottom: 30px;
	left: 2rem;
	right: 2rem;
	bottom: 10%;
	z-index: 11;
}

.spl-nav-left,
.spl-nav-right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-basis: 33%;
}

.spl-navig {
	cursor: pointer;
	transition: all .5s ease;
	margin: 0 1.5rem;
	position: relative;
	left: 0;
}

.spl-nav-left .spl-navig:hover{
	left: -3%;
}

.spl-nav-right .spl-navig:hover{
	left: 3%;
}

.button-sections > div {
	display: none;
	text-align: center;
	font-family: Bubblegum;
}

.title {
	display: block;
	font-size: 2.6rem;
	margin-bottom: 2rem;
}

.reg-title {
	font-size: 3.6rem;
}


#bitcoin-section .title {
	color: #292828;
}

#bitcoin-section p {
	text-align: center;
	width: 200px;
}

#bitcoin-section span {
	color: #000;
}

.select-box {
   background: url(../img/select_arrows.png) no-repeat right center;
   background-size: contain;
   height: 36px;
   width: 268px;
   max-width: 100%;
   margin: 0 auto;
}

.select-box select {
	border-radius: 20px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
	background: transparent;
    border: 1px solid #333;
    font-size: 16px;
    height: 36px;
    width: 268px;
    max-width: 100%;
    outline: none;
    padding: .5rem 1rem;

}

#members-section {
	text-align: center;
	color: #292828;
	top: 10%;
	z-index: 2;
}

#members-section form {
	position: relative;
}

#members-section .member-form,
#register-section .member-form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 80%;
	position: relative;
	margin: 0 auto;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #6eb9ea;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 2rem;
    border: 1px solid white;
	box-shadow: 0px 0px 16px 7px rgba(110, 185, 234, 1);
	z-index: 10;
	max-width: 500px;
}

#register-section .member-form {
	padding: 10px;
	justify-content: space-between;
}

#register-section .member-form::before {
	content: '';
	display: block;
	width: 1px;
	height: 64%;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 5%;
}

#members-section .member-form:before {
	background: url(../img/left-fly.png) no-repeat center;	
    bottom: -30%;
    left: -20%;
}

#members-section .member-form:after {
	background: url(../img/right-fly.png) no-repeat center;
    background-size: contain;
    top: -50%;
    right: -15%;
}

#members-section .member-form:before,
#members-section .member-form:after {
	content: '';
    display: block;   
    background-size: contain;
    position: absolute;
    width: 80px;
    height: 80px;
}


.member-form-buttons {
	font-family: Bubblegum;
	z-index: 10;
	width: 30%;
	margin: 0 auto;
}

#members-section .member-form-buttons {
	margin-bottom: 20px;
}

#register-section .member-form-buttons,
#register-active-section .member-form-buttons {
	margin-top: 25px;
}

#members-section .member-form-buttons input, 
#register-section .member-form-buttons input,
#register-active-section .member-form-buttons input {
	display: block;
	margin-top: 1rem;
	z-index: 12;
	font-size: 15px;
	line-height: 1.5;
}

#members-section .member-submit, 
#register-section .member-submit,
#register-active-section .member-submit {
    color: #fff;
    background-color: #000;
	transition: all 1s ease;
}

#members-section .member-submit:hover, 
#register-section .member-submit:hover,
#register-active-section .member-submit:hover {
	color: #000;
	background-color: #fff;
}

#members-section .login-btn,
#register-section .back-btn,
#register-active-section .back-btn {
	background-color: #fff;
    color: #000;
}

#members-section .login-btn:hover,
#register-section .back-btn:hover,
#register-active-section .back-btn:hover {
	color: #fff;
	background-color: #000;
}

#members-section .form-group,
#register-section .form-group {
	flex-basis: 48%;
	margin-bottom: 5px;
}

#members-section .form-group.check-box {
	flex-basis: 100%;
}

#members-section .member-check {
    background-color: white;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    border-radius: 5px !important;
    -webkit-appearance: none;
	margin-right: 6px;
	float: left;
	line-height: 1.5;
}

#members-section .member-check:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

#members-section .member-check:checked:after {
	content: '\2714';
    font-size: 14px;
    position: relative;
    top: -4px;
    left: -4px;
    color: #000000;
	font-weight: bold;
}

#members-section .check-label{
	display: inline-block;
	cursor: pointer;
}

#members-section .check-box {
	margin-top: 5px;
	margin-bottom: 0px !important;
}

#members-section label,
#register-section label {
	display: block;
	text-align: left;
}

#members-section .title,
#register-section .title {
	display: block;
	margin-bottom: 10px;
}

#members-section input,
#register-section input,
#register-active-section input {
	border-radius: 6px;
    border: 1px solid black;
	width: 100%;
	font-family: Bubblegum;
	padding-left: 5px;
	font-size: 15px;
	outline: none;
	color: #5c5d5f;
	line-height: 2;
}

#members-section input:focus,
#register-section input:focus,
#register-active-section input:focus {
    border-color: #07489e;
    outline: none;
}

#register-active-section .member-form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 80%;
	position: relative;
	margin: 0 auto;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #BED052;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 2rem;
    border: 1px solid white;
	box-shadow: 0px 0px 16px 7px #BED052;
	z-index: 10;
	max-width: 500px;
}

#register-active-section .title {
	font-size: 2.3rem;
}

#register-active-section .register-active-wrap {
	position: relative;
	margin: 10% 0;
}

#register-active-section .register-active-wrap::before {
	background: url(../img/reg-code-before.png) no-repeat center;
	width: 40%;
	top: -20%;
	left: 5%;
}

#register-active-section .register-active-wrap::after {
	background: url(../img/reg-code-after.png) no-repeat center;
	width: 12%;
	bottom: -20%;
	left: 24%;
}


#register-active-section .register-active-wrap::before,
#register-active-section .register-active-wrap::after,
#register-active-section .member-form::before {
	content: '';
	position: absolute;
	display: block;
	height: 50px;
	background-size: contain;
	transition: all .5s ease;
}

#register-active-section .register-active-wrap:hover::before {
	top: -23%;
}

#register-active-section .register-active-wrap:hover::after {
	bottom: -12%;
}

#register-active-section .member-form::before {
	background: url(../img/reg-code-before2.png) no-repeat center;
	width: 40%;
	height: 20px;
	top: -12%;
	left: 5%;
}

#register-active-section .member-form::after {
   content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: -23%;
    z-index: -2;
    background: #BED052;
    transform: rotate(-135deg);
    border-left: .1px solid #fff;
    border-top: 1px solid #fff;
    box-shadow: 0px 0px 32px 7px #BED052;
}

.reg-form-wrap {
	position: relative;
}

.fb-login {
    position: absolute;
    top: 67%;
    left: 15%;
    background: url(../img/login-fb.png) no-repeat center bottom;
    background-size: cover;
    display: block;
    height: 100px;
    width: 300px;
    text-align: left;
    transition: all .5s ease;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-end;
}

.fb-login:hover {
	top: 70%;
}

.fb-login-text {
    font-family: Arial;
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 5px;
    font-size: 12px;
    line-height: 1.2;
    width: 40%;
    position: absolute;
    bottom: 15px;
}

.fb-login img {
	display: inline-block;
	width: 25px;
	margin-right: 5px;
}

/*
.fb-login::after {
	content: '';
	display: block;
	position: absolute;
	width: 10%;
	background: url(../img/fb-login-icon.png) no-repeat center;
	background-size: contain;
}
*/

.animated:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: tada;
  animation-name: tada;
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  10%,
  20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

.head-navigation {
	display: flex;
    width: 90%;
    justify-content: flex-end;
    flex-wrap: wrap;
    z-index: 1;
    position: absolute;
    top: 3%;
}

.head-navigation div {
	margin-left: 10px;
}

.head-navigation .logout {
	background: #ffffff url(../img/head-menu/logout.png) no-repeat center;
    background-size: 68%;
    box-shadow: 0px 0px 7px 3px rgba(53, 84, 36, 0.5);
    border-radius: 50%;
    cursor: pointer;
    flex-basis: 9%;
    position: relative;
    padding: .05rem 0;
}

.head-navigation .upload {
	background: #ffffff url(../img/head-menu/uploads.png) no-repeat center;
    background-size: 68%;
    box-shadow: 0px 0px 7px 3px rgba(53, 84, 36, 0.5);
    border-radius: 50%;
    cursor: pointer;
    flex-basis: 9%;
    position: relative;
    padding: .05rem 0;
}

.head-navigation div:hover {
	box-shadow: 0px 0px 7px 3px rgba(0, 176, 255, 0.5);
}

.head-navigation .logout:before,
.head-navigation .upload:before {
	content: '';
    display: block;
    padding-bottom: 100%;
}

.popover-adorable {
	padding: 10px !important;
}

.forgotten-btn {
	float: right;
	color: #000000;
}

.remember-btn {
	float: left;
}

.main-menu-layer1,
.main-menu-layer2 {
    position: relative;
	min-height: 300px;
	min-width: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap; 
	flex-basis: 6%;
	z-index: 100;
}

.main-menu-layer3 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    justify-self: flex-end;
    z-index: 100;
    margin-top: auto;
}

.main-menu-layer3 > * {
    cursor: pointer;  
    transition: all .5s ease;
    margin: 0 5px;
}

.main-menu-layer3 img {
	width: auto;
    max-height: 70px;  
}

/*@media screen and (max-width: 2150px) {
    .main-menu-layer3 .left-many,
    .main-menu-layer3 .left-single,
    .main-menu-layer3 .right-many,
    .main-menu-layer3 .right-single {
        background-size: 59%;
    }
}
*/
.mt-14p {
	margin-top: -14% !important;
	align-self: center;
}

.mt-17p {
	margin-top: -17% !important;
}

.main-menu-layer1 .insta-menu {
	background: transparent url(../img/insta-phase2.png) no-repeat center;
    cursor: pointer;
    background-size: 125%;
    flex-basis: 100%;
    position: relative;
    padding: .2rem 0;
}

.main-menu-layer1 .insta-menu:before {
	content: '';
    display: block;
    padding-bottom: 100%;
}

.main-menu-layer1 .home-menu {
	background: transparent url(../img/logo-phase2b.png) no-repeat center;
    cursor: pointer;
    background-size: 69%;
    flex-basis: 100%;
    position: relative;
    padding: .2rem 0;
}

.main-menu-layer1 .home-menu:before {
	content: '';
    display: block;
    padding-bottom: 100%;
}

.main-menu-layer1 .rocket-menu {
	background: transparent url(../img/rocket-phase2.png) no-repeat center;
    cursor: pointer;
    background-size: 100%;
    flex-basis: 100%;
    position: relative;
    padding: .2rem 0;
}

.main-menu-layer1 .rocket-menu:before {
	content: '';
    display: block;
    padding-bottom: 100%;
}

.main-menu-layer2 .diamond-menu {
	background: transparent url(../img/diamond-phase2.png) no-repeat center;
    cursor: pointer;
    background-size: 110%;
    flex-basis: 100%;
    position: relative;
    padding: .2rem 0;
}

.main-menu-layer2 .diamond-menu:before {
	content: '';
    display: block;
    padding-bottom: 100%;
}

.main-menu-layer2 .paint-menu {
	background: transparent url(../img/paint-phase2.png) no-repeat center;
    cursor: pointer;
    background-size: 110%;
    flex-basis: 100%;
    position: relative;
    padding: .2rem 0;
}

.main-menu-layer2 .paint-menu:before {
	content: '';
    display: block;
    padding-bottom: 100%;
}

.main-menu-layer2 .zoom-menu {
	background: transparent url(../img/zoom-phase2.png) no-repeat center;
    cursor: pointer;
    background-size: 100%;
    flex-basis: 100%;
    position: relative;
    padding: .2rem 0;
}

.main-menu-layer2 .zoom-menu:before {
	content: '';
    display: block;
    padding-bottom: 100%;
}


.main-navigation-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.main-navigation-header .welcome-text {
	font-size: 25px;
}

.main-navigation-header .message a {
	text-decoration: none;
}
/*.main-navigation-header .message {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;    
}

.main-navigation-header .message .message-text {
    font-size: 20px;
    padding-left: 5px;
}*/

.main-navigation-header .messages {
	margin-left: auto;
	flex-basis: 12%;
}

.main-navigation-header .messages .msg-text {
	position: absolute;
	right: -60%;
	top: 30%;
	font-size: 20px;
}

.message-image {
    padding: 0;
}

.main-navigation-body {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 23px;
    margin: 10px 0;
}

.main-navigation-body > * {
	flex-basis: 45%;
	margin-right: 10px;
}

.main-navigation-body .bulletin {
    display: flex;
    display: -webkit-flex;
    position: relative;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.main-navigation-body .bulletin .bulletin-text {
    padding-left: 0px;
}

.main-navigation-body .creations {
    display: flex;
    display: -webkit-flex;    
    position: relative;
    align-items: center;
    text-align: center;    
    cursor: pointer;    
}

.creations-image,
.bulletin-image,
.favorites-image,
.history-image {
    padding: unset !important;
    width: 17% !important;
    margin-right: 15px;
}

.main-navigation-body .creations .creations-text {
    padding-left: 0px;
}

.main-navigation-body .favorites {
    display: flex;
    display: -webkit-flex;
    position: relative;
    align-items: center;
    text-align: center;    
    margin-top: 3%;
    cursor: pointer;    
}

.main-navigation-body .favorites .favorites-text {
    padding-left: 0px;
}

.main-navigation-body .history {
    display: flex;
    display: -webkit-flex;    
    position: relative;
    align-items: center;
    text-align: center;    
    margin-top: 3%;    
    cursor: pointer;    
}

.main-navigation-body .history .history-text {
    padding-left: 0px;
}

@media screen and (min-width: 1750px) {
    .main-navigation-body , 
    .main-navigation-header .welcome-text,
    .main-navigation-header .message .message-text,
    .main-navigation-header .messages .msg-text
    .cloud-img {
        font-size: 30px;
    }
    .cloud-img:hover {
        font-size: 34px;        
    }
}

@media screen and (min-width: 2300px) {
	.main-navigation-body , 
    .main-navigation-header .welcome-text,
    .main-navigation-header .message .message-text,
    .main-navigation-header .messages .msg-text
    .cloud-img {
        font-size: 40px;
    }

    .cloud-img:hover {
        font-size: 44px;        
    }
}


.cloud-img {
    background: url(/clouds/cloud-with-frame.png);
    background-size: 62%;
    background-position: 45% 79%;
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Bubblegum, sans-serif;
    font-size: 24px;
}

.cloud-img:hover {
    background-size: 68%;
}

.cloud-img img {
    width: 60%;
    top: 58%;
    left: 19%;
}

.cloud-img.pos1 {
    left: 77%;
}

.cloud-img.pos9 {
    left: 77%;
}

.cloud-img.pos10 {
    left: 77%;
}

.product-img img {
    width: 74%;
    left: 18%;
    cursor: pointer;
}

.product-img.pos1 {
    left: 73%;
    top: 69%;
}

.product-img.pos2 {
    left: 47%;
    top: 69%;
}

.product-img.pos3 {
    top: 69%;
    left: 21%;
}

.product-img.pos4 {
    top: 69%;
}

.product-img.pos5 {
    top: 34%;
}

.product-img.pos6 {
    top: -2%;
}

.product-img.pos7 {
    top: -2%;
    left: 21%;
}

.product-img.pos8 {
    top: -2%;
    left: 47%;
}

.product-img.pos9 {
    left: 73%;
    top: -2%;
}

.product-img.pos10 {
    top: 34%;
    left: 73%;
}

.product-img img:hover {
    width: 76%;
}

.product-img {
    z-index: 99;

    justify-content: center;
}

.favorite-heart {
    font-size: 35px !important;
    position: absolute;
    color: #636363;
    bottom: 1%;
    z-index: 100;
    left: 29%;
    cursor: pointer;
    transition: all .5s;
}

.favorite-heart:hover {
    color: #020202;
}

.image-wrap {
    display: inline-block;
    position: absolute;
    height: fit-content;
    width: 90%;
    transform: translateY(0%);
	transition: .5s all ease;
}

.image-wrap:hover {
    transform: translateY(-4%);	
}

.favorite-heart {
    visibility: hidden;
}

.image-wrap:hover .favorite-heart {
    visibility: visible;
}

.open-cloud {
    position: relative;
    display: flex;
    height: 80%;
    width: 54%;
    z-index: 10000;
    background: url(/clouds/cloud-with-frame.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Bubblegum, sans-serif;
    font-size: 24px;
}

.product-cloud {
    height: 100% !important;
    width: 72% !important;
    background: url(/clouds/product-cloud.png) !important;
    background-position: center !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}

.product-cloud-left {
    height: 100%;
    width: 14%;
    position: relative;
}

.product-cloud-right {
    height: 100%;
    width: 14%;
    position: relative;
}

.wrap-cloud {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.39);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.cloud-close {
    position: absolute;
    right: 14%;
    top: 30%;
    font-size: 55px;
    cursor: pointer;    
}

.cloud-header {
    position: relative;
    top: -10%;
    width: 60%;
}

.team-cloud-header {
    position: relative;
    top: -10%;
    width: 60%;
    left: 4%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bulletin-cloud {
    display: flex;
    flex-direction: column;
}

.cloud-img>span {
    width: 46%;
    margin-top: 3%;
    height: 10%;
    font-size: 24px;
    display: flex;
    align-items: flex-start;
    /* text-align: center; */
    /* word-spacing: 1px; */
    justify-content: center;
    overflow: hidden;
}

.cloud-text {
    width: 69%;
    color: #676767;
    margin-top: -5%;
}

.faq-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    flex-grow: 1;
    justify-content: space-between;
    color: #5a5a5a;
    font-size: 23px;
    margin-bottom: 1rem;
}

.creations-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 25vh;
	position: relative;
    color: #5a5a5a;
    font-size: 23px;
}

.creations-section .progress {
    width: 80%;
}

.image-preview-input {
    color: #5a5a5a !important;
}

.creations-upload-btn {
    color: #5a5a5a !important;
    background-color: white !important;
    border-color: #d3d3d3 !important;
    margin-top: 7px !important;
    transition: .5s all ease;
}

.creations-upload-btn:hover,
.creations-upload-btn:active,
.creations-upload-btn:focus,
.creations-upload-btn:visited {
    background-color: #f0f0f0 !important;
}

.upload-demo {
    position: absolute;
    right: 5%;
    margin-top: -6.5%;
}

.browse-creation {
    background-color: #ff4040 !important;
    border-color: #ff4040 !important;
    border-radius: 0px !important;
    padding-top: 8px !important;
}

.browse-creation:hover {
    background: #ff6666 !important;
    border-color: #ff6666 !important;
    color: #fff;
}
.store-section {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
    position: relative;
    color: #5a5a5a;
    font-size: 23px;
    margin: auto 0;
}

.store-category {
	cursor: pointer;
	font-size: 45px;
	flex-basis: 50%;
}

#cloud-mask {
    position: absolute;
}
.cls-1{
    fill:#7a7a7a;
    stroke:#ffffdc;
    stroke-miterlimit:10;
    stroke-width:5px;
}
.cls-2{
    fill:#fff;
}

#location-cloud {
    position: absolute;
    display: flex;
    text-align: center;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#location-cloud button {
    position: absolute;
    z-index: 100;
    top: 2%;
}
.location-text {
    width: 80%;
    position: relative;
    top: 14%;
    color: #000000;
    margin-top: -5%;
}

.map-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.faq-menu a {
    text-decoration: none !important;
}

.category-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #5a5a5a;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    margin: auto 0;
}


#product-cloud .cloud-close {
    left: 19%;
    right: unset;
    top: 16%;
}

#product-cloud .cloud-story { 
    width: 21%;
    color: #000000;
    position: absolute;
    margin-left: 5.3%;
    top: 10%;
    height: 100px;
    font-size: 40px;
    word-wrap: break-word;
}

#product-cloud .cloud-price { 
    width: 22%;
    color: #000000;
    position: absolute;
    top: 29%;
    right: 4%;
    font-size: 40px;
    height: 100px;
    word-wrap: break-word;
}

#product-cloud .cloud-price .currency {
    font-family: cursive;
    font-weight: bold;
    font-size: 40px;
}

#product-cloud .cloud-name { 
    width: 20%;
    color: #000000;
    position: absolute;
    top: 54%;
    left: 3%;
    height: 100px;
    word-wrap: break-word;
    font-size: 40px;
}

#product-cloud .product-header {
    top: 1%;
    left: 1%;
}

#product-cloud .cloud-size { 
    width: 22%;
    color: #000000;
    position: absolute;
    top: 55%;
    right: 6%;
    height: 100px;
    word-wrap: break-word;
    font-size: 40px;
    z-index: 10;
}

#product-cloud .cloud-store {
    width: 33%;
    color: #000000;
    position: absolute;
    top: 73%;
    left: 40%;
    height: 100px;
    /* font-size: 11px; */
    word-wrap: break-word;
    font-size: 40px;
}

.cloud-close-btn {
    padding: 0px 20px;
    font-size: 35px;
    background: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    transition: all .5s;
}

.cloud-close-btn:hover {
    border: 2px solid black;
    color: black;
    background: white;
}

.cloud-select-box {

}

.cloud-select {
    margin-right: 10px;
    font-size: 25px;
    padding: 6px 20px;
    border-radius: 10px !important;
    outline: none !important;
    color: #000000 !important;
    width: 100px;
}

.cloud-select:hover,
.cloud-select:focus,
.cloud-select:active {
    background-color: white !important;
    border-color: #ccc !important;
    box-shadow: none !important;
}

.cloud-buy-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
}

.cloud-buy-btn {
    width: 211px;
    background: black;
    color: white;
    font-size: 27px;
    padding: 18px 10px;
    border-radius: 40px;
    margin-top: 4.5%;
    cursor: pointer;
    transition: all .5s;
    border: 2px solid white;
}

.cloud-buy-btn:hover {
    border: 2px solid black;
    color: black;
    background: white;
}

.cloud-dropdown {
    max-height: 100px;
    overflow-y: scroll;
}

.cloud-select-caret-box {
    font-size: 25px;
    padding: 6px 7px;
    border-radius: 10px !important;
}

.cloud-select-caret {
    border-top: 20px dashed;
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
}

.video-block {
    cursor: pointer;

}
.video-block img {
    opacity: 0.9;
}

.video-block .image-wrap:hover {
    transform: translateY(0%) !important;
}

.video-block i {
	position: absolute;
    top: 36%;
    left: 50%;
    font-size: 51px;
    color: white;
}
.video-block i:hover {
    color: red;
}
.video-thumb:hover ~ .video-play {
    color: red;
}
.video-thumb {
	width: 56% !important;
}

.pos1.video-block {
	top: 68%;
    left: 77%;
}

.pos2.video-block {
	top: 68%;
    left: 52%;
}
.pos3.video-block {
	top: 68%;
    left: 20%;
}
.pos4.video-block {
	top: 68%;
    left: -6%;
}
.pos5.video-block {
	top: 30%;
    left: -6%;
}
.pos6.video-block {
    top: -5%;
    left: -6%;
}
.pos7.video-block {
	top: -5%;
    left: 20%;
}
.pos8.video-block {
	top: -5%;
    left: 52%;
}
.pos9.video-block {
	left: 77%;
    top: -5%;
}
.pos10.video-block {
	left: 77%;
    top: 30%;
}


#youtube-video {
    position: absolute;
    z-index: 1000;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(6, 6, 6, 0.32);
}

#youtube-video iframe {
    border:unset;
    width: 50%;
    height: 65%;
}

#youtube-video i {
    position: absolute;
    font-size: 75px;
    right: 20%;
    color: white;
    top: 10%;
    cursor: pointer;
}

#youtube-video i:hover {
    color: #ccbebe;
    
}

.facebook-btn:hover {
    background-color: rgb(54, 121, 164) !important;    
}

.google-btn:hover {
    background-color: rgb(166, 53, 49) !important;    
}

.el-carousel__item {
	text-align: center;
    display: flex !important;
    justify-content: center;
}

.el-carousel__item  img{
	width: auto !important;
}	

.settings-section {
    position: absolute;
    width: 100%;
    margin-left: -3rem;
    margin-top: -5rem;
    height: 100%;
}

.settings-section i {
    cursor: pointer;
    color: #a5a5a5;
}

.settings-section i:hover {
    color: #000000;
}

.settings-section .settings-header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.settings-section .settings-mask {
    position: absolute;
    top: 0;    
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;    
    border-radius: 5px;
    transition: all .5s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-section .settings-mask:hover {
    opacity: 1;
    background-color: #0404042b;
}

.settings-section .settings-header img {
    max-height: 100px;
    max-width: 100px;
    width: auto;
}

.settings-section .settings-header .settings-username {
    font-size: 24px;    
    margin-top: .5rem;
}

.settings-section .settings-header i {
    font-size: 24px;        
}

.settings-section .settings-body {
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.settings-section .settings-body .s-title {
    color: #070707;
}

.settings-section .settings-body .s-info {
    color: #c83f3f;
}

.settings-section .s-edit select {
    display: inline-block !important;
    width: 25% !important;
    height: 33px !important;
    padding: 0 !important;
}

.avatar-view>div {
    text-align:center;
    background: transparent;
    box-shadow: none;
}

.avatar-input {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 1000%;
    bottom: 0;
    height: 100%;
    -webkit-appearance: none;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.mt-2 {
    margin-top: 2rem !important;
}

.h-75 {
    height: 75px;
}

.home-menu:hover .leftSideBarPopUp,
.insta-menu:hover .leftSideBarPopUp,
.rocket-menu:hover .leftSideBarPopUp,
.diamond-menu:hover .rightSideBarPopUp,
.paint-menu:hover .rightSideBarPopUp,
.zoom-menu:hover .rightSideBarPopUp {
    display: flex;
}

.leftSideBarPopUp {
    background: transparent url(../img/popups/first.png) center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    transition: .5s all ease;
    width: 127%;
    height: 33%;
    left: -97%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-right: 10%;
    font-family: Bubblegum, sans-serif;
}

.rightSideBarPopUp {
    background: transparent url(../img/popups/first-right.png) center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 127%;
    height: 33%;
    left: 71%;
    position: absolute;
    transition: .5s all ease;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 10%;
    font-family: Bubblegum, sans-serif;
}

.home-popup {
    top: -23%;
}

.insta-popup {
    top: 13%;
}

.rocket-popup {
    top: 47%;
}

.diamond-popup {
    top: -21%;
}

.paint-popup {
    top: 16%;
}

.zoom-popup {
    top: 50%;
}

.shopping-basket {
    display: none;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    background: #00000059;
    color: white;
    font-size: 21px;
    font-family: Bubblegum, sans-serif;
    border-bottom-left-radius: 8px;
    transition: all ease .5s;
    cursor: pointer;
    left: 88%;
}

.shopping-basket:hover {
    background: #000000a6;    
}

.open-basket {
    bottom: 0;
    left: 77%;
    border: none;
    border-bottom-left-radius: 0;
    background: #000000a6 !important;  
}

.basket-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.basket-content .side {

    position: absolute;
    left: 0;
    right: 0;
    top: 14%;
    bottom: 24%;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    background: white;
}

.basket-hide {
    font-size: 32px !important;
}

.basket-hide:hover {
    color: #dfdae4;
}

.basket-mgmt {
    flex-direction: row;
    width: 100%;
    /* background: #ffffff; */
    color: black;
    display: flex;
    height: 80px;
    /* justify-content: center; */
    padding-left: 6px;
    border-bottom: 1px solid #b4b4b4;
    padding-top: 10px;
    position: relative;
}

.basket-mgmt select {
    margin-left: 5%;
    padding: 4px;
    font-size: 16px;
    width: 60px;
    height: 35px;
}

.basket-mgmt h3 {
    width: 51%;
    text-align: center;
    float: left;
    overflow: hidden;
    height: 35px;
    text-overflow: ellipsis;
    margin-left: 5px;
    margin-top: 5px;
}

.basket-mgmt i {
    font-size: 25px;
    color: red;
    margin-top: 15px;
}

.basket-mgmt i:hover {
    font-size: 25px;
    color: rgb(156, 32, 32);
}

.buy-btn {
    padding: 10px 20px;
    background: white;
    width: auto;
    color: black;
    margin: 6% 35%;
    transition: all ease 1s;
    top: 69%;
    position: relative;
}

.total-price {
    top: 69%;
    position: relative;
}

.buy-btn:hover {
    background: black;
    color: white;
}

.zoom-mask {
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000059;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.zoom-mask img {
    height: auto;
    width: auto;
}

.login-page .icon-loading {
    background: url(/img/logo-phase2.png);
    width: 150px;
    height: 150px;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.login-page .el-loading-spinner {
    display: flex;
    justify-content: center;
    height: 100%;
    top: 0;
    align-items: center;
    margin-top: 0;
}

.main-loader .icon-loading {
    width: 250px !important;
    height: 250px !important;
    -webkit-animation: rotating-puls 1s ease-out infinite !important;
    -moz-animation: rotating-puls 1s ease-out infinite !important;
    -ms-animation: rotating-puls 1s ease-out infinite !important;
    -o-animation: rotating-puls 1s ease-out infinite !important;
    animation: rotating-puls 1s ease-out infinite !important;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes rotating-puls {
    0% { transform: rotate(0deg) scale(1); }
    30% { transform: rotate(51deg) scale(1); }
    40% { transform: rotate(102deg) scale(1.18); }
    50% { transform: rotate(154deg) scale(1); }
    60% { transform: rotate(205deg) scale(1); }
    70% { transform: rotate(256deg) scale(1.10); }
    80% { transform: rotate(307deg) scale(1); }
    100% { transform: rotate(360deg) scale(1); }
}

.login-page .icon-loading {
    -webkit-animation: rotating-puls 1.5s linear infinite;
    -moz-animation: rotating-puls 1.5s linear infinite;
    -ms-animation: rotating-puls 1.5s linear infinite;
    -o-animation: rotating-puls 1.5s linear infinite;
    animation: rotating-puls 1.5s linear infinite;
}


.ldv-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 6%;
    bottom: 20%;
    padding: 3rem 3rem 3rem;
}

.red-text {
    color: red;
}

.ldv-info {
    width: 100%;
    color: black;
    font-size: 27px;
    display: flex;
    justify-content: space-around;
}

.currency {
    font-family: cursive;
    font-weight: bold;
}

.user-ldv {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 2rem;
}

.b-add-info {
    margin-top: 5px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.other-crypto {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    margin-top: 2rem;
}

.crypto-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.shopping-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.shopping-space.open-basket {
    position: absolute;
    top: 0;
    left: 0;
    right: 23%;
    bottom: 0;
    background: transparent !important;
    z-index: 1000;
}

.open-insta-cloud {
    position: relative;
    display: flex;
    height: 95%;
    width: 42%;
    z-index: 10000;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: Bubblegum, sans-serif;
    font-size: 24px;
    background: #ffffff;
}

.insta-cloud-close {
    position: absolute;
    right: 2%;
    top: 0%;
    font-size: 35px;
    cursor: pointer;
    font-family: cursive;
}

.insta-header {
    margin-top: 7%;
    position: relative;
}

.insta-header img {
    height: auto;
    max-height: 300px;
    width: 100%;
}

.insta-comments {
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    margin-top: 13px;
}

.insta-desc {
    padding: 10px;
    font-size: 13px;
}

.insta-comment {
    max-height: 100px;
    overflow: hidden;
    padding-top: 10px;
    border-top: 1px solid #c9c9c9;
    margin-bottom: 13px;
}

.insta-comment .comment-wrapper {
    max-height: 100px;
}
.insta-comment .comment-wrapper .user-info,
.insta-comment .comment-wrapper .user-info .user-avatar {
    max-height: inherit;
}

.insta-comment .comment-wrapper .user-info .user-avatar img {
    max-height: 85px;
    width: auto;
    height: auto;
}

.insta-comment .comment-wrapper .user-info .user-name {
    max-height: 100px;
    padding-left: 0px;
}

.insta-comment .comment-wrapper .user-info .user-name .name {
    font-size: 20px;
    border-bottom: 1px solid #dadada;
    margin: 0 !important;
}

.insta-comment .comment-wrapper .user-info .user-name .comment-text {
    margin-top: 4px;
    color: black;
    font-size: 17px;
}

.insta-header {
    width: 88%;
}

.el-input__inner::placeholder {
    color: #3a3a3a !important;
}

.product-carousel {
    z-index: 0;
}

@media screen and (max-width: 1300px) {
    .product-carousel {
        max-height: 310px !important;
        min-width: 300px !important;
        z-index: 0;
        transition: .5s all;
    }

    .product-carousel>.el-carousel__container {
        height: 310px !important;
    }
    
    .product-carousel .el-carousel__item img {
        width: auto !important;
        height: 100%;
    }
}

@media screen and (max-width: 1024px) { 
    .product-carousel {
        max-height: 285px !important;
        min-width: 245px !important;
        z-index: 0;
        transition: .5s all;
    }
}